@page "/adminoptions"

<p class="back-to-catalog mt-3">
    <a class="back-link" @onclick="@NavigateToAddPost">---- Dodaj post ----</a>
</p>

<p class="back-to-catalog mt-3">
    <a class="back-link" @onclick="@NavigateToAddWebinar">---- Dodaj Webinar ----</a>
</p>

<p class="back-to-catalog mt-3">
    <a class="back-link" @onclick="@NavigateToAddCategory">---- Dodaj Category ----</a>
</p>

<p class="back-to-catalog mt-3">
    <a class="back-link" @onclick="@NavigateToUpdatePosts">---- Edytuj Wpisy ----</a>
</p>

<p class="back-to-catalog mt-3">
    <a class="back-link" @onclick="@NavigateToUpdateWebinars">---- Edytuj Webinary ----</a>
</p>

