@page "/postlist"
@page "/postlist/editmode/{EditMode}"


<h3>Wpisy EduZbieracz</h3>





@if (Posts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Post name</th>
                <th>Post date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Posts)
            {
                <tr>
                    <td><img src="@(p.ImageUrl)" class="post-image" /></td>
                    <td class="post-title">@p.Title </td>
                    <td class="post-date">@p.Date.ToShortDateString() </td>
                    <td>
                        <a href="@($"postdetails/{p.PostId}")" class="post-button btn">
                            <i class="fas fa-edit">Więcej</i>
                        </a>
                    </td>
                    @if (EditMode == "yes")
                    {
                        <td>
                            <a href="@($"addpost/{p.PostId}")" class="post-button btn admin-button">
                                <i class="fas fa-edit">Edytuj</i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

