@page "/postdetails/{PostId}"


@if (SelectedPostId != 0)
{


    <table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="@(PostDetailViewModel.ImageUrl)" class="" /></td>
            </tr>
            <tr>
                <td class="post-title">Autor : @PostDetailViewModel.Author </td>
            </tr>
            <tr>
                <td class="post-title">Ocena : @PostDetailViewModel.Rate </td>
            </tr>
            <tr>
                <td class="post-title">Data : @PostDetailViewModel.Date.ToShortDateString() </td>
            </tr>
            <tr>
                <td>Tytuł : <span class="post-title">@PostDetailViewModel.Title</span> </td>
            </tr>
            <tr>
                <td class="post-desc">Opis : </td>
            </tr>
            <tr>
                <td class="post-desc">@PostDetailViewModel.Description </td>
            </tr>
            <tr>
                <td class="post-link">
                    <a href="@PostDetailViewModel.Url" class="post-button btn">
                        Przeczytaj
                    </a>
                </td>
            </tr>

        </tbody>
    </table>

}
<br />
<br />
<br />
<br />
<p class="back-to-catalog mt-3">  <a class="back-link" @onclick="@NavigateToPosts">---- Powrót do listy ----</a></p>