@page "/webinars"
@page "/webinars/editmode/{EditMode}"

<h3 class="mb-5">Webinars</h3>

<div class="row">
    <div class="col-2">
        <span>Wybierz miesiąc</span>
        <select class="form-control" @bind="@SelectedMonth">
            <option value=""></option>
            @foreach (var month in MonthList)
            {
                <option value="@month"> @month </option>
            }
        </select>
    </div>
    <div class="col-2">
        <span>Wybierz rok</span>
        <select class="form-control" @bind="@SelectedYear">
            <option value=""></option>
            @foreach (var year in YearList)
            {
                <option value="@year"> @year</option>
            }
        </select>
    </div>
</div>


<button @onclick="GetWebinars" class="mt-4">Pokaż Webinary</button>

<br />

@if (webinarsList == null)
{
    <p><em>Wybierz opcje</em></p>
}
@if (webinarsList != null)
{
    @if (webinarsList.LongCount() == 0)
    {
        <p><em>Nie ma webinarów dla tego wyszukiwania</em></p>
    }

    @if (webinarsList.LongCount() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th style="width:150px;"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in webinarsList)
                {
                    <tr>
                        <td><img src="@(p.ImageUrl)" style="width:150px" class="webinar-image" /></td>
                        <td class="webinar-title">@p.Title </td>
                        <td class="webinar-date">@p.Date.ToShortDateString() </td>
                        <td class="webinar-slideurl">
                            <a href="@(p.SlidesUrl)" class="post-button btn">
                                Slajdy
                            </a>
                        </td>
                        @if (!string.IsNullOrWhiteSpace(p.WatchFacebookLink))
                        {
                            <td class="webinar-slideurl">
                                <a href="@(p.WatchFacebookLink)" class="post-button btn">
                                    Obejrz na Facebooku
                                </a>
                            </td>
                        }
                        @if (!string.IsNullOrWhiteSpace(p.WatchYoutubeLink))
                        {
                            <td class="webinar-slideurl">
                                <a href="@(p.WatchYoutubeLink)" class="post-button btn">
                                    Obejrz na YouTube
                                </a>
                            </td>
                        }
                        @if (!string.IsNullOrWhiteSpace(p.FacebookEventUrl))
                        {
                            <td class="webinar-slideurl">
                                <a href="@(p.FacebookEventUrl)" class="post-button btn">
                                    Link do wydarzenia
                                </a>
                            </td>
                        }
                        @if (EditMode == "yes")
                        {
                            <td>
                                <a href="@($"addwebinar/{p.Id}")" class="post-button btn admin-button">
                                    <i class="fas fa-edit">Edytuj</i>
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>


        <Pager PageIndex="@paginatedList.PageIndex" TotalPages=@paginatedList.TotalPages OnClick="PageIndexChanged"
               HasNextPage=@paginatedList.HasNextPage HasPreviousPage=@paginatedList.HasPreviousPage>
        </Pager>
    }
}
